[Unit]
Description=Backup script for wittano home directory
Wants=backup.timer

[Service]
Type=oneshot
User=wittano
ExecStart=/bin/bash /home/wittano/projects/config/system/scripts/backup/backup.sh

[Install]
WantedBy=multi-user.target